@model KnapSack.Models.LoginCredential

@Html.Partial("_JoueursForm")


<div>
    @Html.ActionLink("Back to List", "Index", "Items")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
